<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo</title>
</head>
<style>
    *{
        margin:6px;
    }
</style>
<body>
<form action="" method="post" novalidate>


        {% csrf_token %}
        {% for fm in form %}
        <div class="form-group my-3">
            {{fm.label_tag}} {{fm}} <small class="text-warning"> {{fm.errors|striptags}} </small>
        </div>
        {% endfor %}

        <input type="submit" class="btn btn-primary" value="signup">


        <!--for non field error means, error of wrong id and password entered-->
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>
                
            {% endfor %}        
        {% endif %}
    </form>

<a href=" {% url 'login' %} ">login</a>

<body>