<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo</title>
</head>
<body>
    <div>
        <h1>{{request.user}}</h1>
    </div>

<form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fm in form %}
        <div class="form-group my-3">
            {{fm.label_tag}} {{fm}} <small class="text-warning"> {{fm.errors|striptags}} </small>
        </div>
        {% endfor %}
        <br>
        
        <input type="submit"  value="save task">
</form>
<br><br>
<table>
<thead>
    <th>Task</th>
    <th>Time and date</th>
</thead>

<tbody>

    {% for tsk in task %}
    <tr>
    <div class="form-group my-3">
        <td width="100px">{{tsk.task}}</td>
        <td>{{tsk.date}}</td>    
        <td></td>
    </tr>
    </div>
    {% endfor %}

</tbody>
</table>
     
        
    <br><br>
        <a href=" {% url 'logout' %} ">logout</a>
</body>